$text-light: #FFFFFF;
$text-dark: #151515;

$background-light: #F9F9F9;
$primary: #444B6E;
$danger: #E00029;
$success: #499167;

$poppins-bold: 'Poppins-Bold', sans-serif;
$poppins-medium: 'Poppins-Medium', sans-serif;
$poppins-regular: 'Poppins-Regular', sans-serif;
$poppins-light: 'Poppins-Light', sans-serif;
$poppins-thin: 'Poppins-Thin', sans-serif;
